<html>
<body>  
<center><h3>Welcome to White Plaast</h3></center>  
      <div class="set">
<br><br>
  <table align="center"> 
<tr><td align="center">
   <%=image_tag("/assets/wp2.png")%></td></tr>
</table> 
 </div>
