<table align="right">
<tr><td>
<%= link_to "Add New",users_party_purchase_new_path,:class=>"btn btn-success"%></td>
<td><%= link_to "List",users_index_admin_path(@admin),:class=>"btn btn-warning"%></td></tr>
</table>
<br><br>

<div class="demo-content1">
<center><b>Purchase Party List</b></center>
<br><br><br>
<table border="1" align="center" style="border:1px solid white;box-shadow:1px 3px 7px  #000000;">
<% @party_purchase.each do |i| %>
<tr>
<td><div class="fot"><%= i.party_purchase_list%></div></td>
<td><%= link_to "Delete", {:action => 'party_purchse_delete', :id => i.id },:class=>"btn btn-danger",:onclick=>"if (confirm('Are you sure...?')) commentDelete(1); return false"%></td>
</tr>
<%end%>
</table>
</div>

